extends layout

block content
  div(class='container-fluid')
    div(class='row' id='titles')
      div.col-md-12
        h2 Welcome 
          span#username #{name}
      div(class='col-md-6')
        h3 Chat
      div(class='col-md-2')
        h3 Word List
      div(class='col-md-4')
        h3 Definition
    div(class='row' id='main-text-area')
      div(class='col-md-6 col-sm=12')
        div(id='message-pane' class='panel panel-info')
          ul(id='messages')
      div(class='col-md-2 col-sm-12')
        div(id='word-list' class='panel panel-primary')
      div(class='col-md-4 col-sm-12')
        div(id='search-pane' class='panel panel-primary')
    div(class='row' id='chat-area')
      div(class='col-md-10')
        form(action='')
          input(id='m' autocomplete='off' class='form-control')
      div(class='col-md-2')
        button(class='btn btn-success' id='sendbutton') Send
        //- input()
        audio
    div(class='row' id='phrase-area')
      div(class='col-md-12')
        div(id='phrase-pane' class='panel panel-primary')
  div(id='googleid' style="display: none;")
  script(type='text/javascript' src="/socket.io/socket.io.js")
  script(type='text/javascript' src='./javascripts/bundle.js')
  script(type='text/javascript' src='./javascripts/google.js')
  script(src="https://apis.google.com/js/client:platform.js?onload=startApp")
  div(class='g-signin2' data-onsuccess='onSignIn' style="display: none;")
  
  //- script(type='text/javascript').
  //-   function onSignIn(googleUser) {
  //-     var profile = googleUser.getBasicProfile();
  //-     console.log('ID: ' + profile.getId());
  //-     console.log('Name: ' + profile.getName());
  //-     console.log('Image URL: ' + profile.getImageUrl());
  //-     console.log('Email: ' + profile.getEmail());
  //-     var id_token = googleUser.getAuthResponse().id_token;
  //-     console.log('token', id_token)
  //-     
  //-   }
