extends layout

block content
  div(class='container')
    h1= title
    p Welcome to #{title}
    div(class='col-md-6')
      div(id='message-pane')
        ul(id='messages')
      form(action='')
        input(id='m' autocomplete='off')
        button send
      script(type='text/javascript' src="/socket.io/socket.io.js")
      script(type='text/javascript' src='./javascripts/bundle.js')
