extends layout

block content
  div(class='container-fluid')
    div(class='row' id='titles')
      div.col-md-12
        h2 Welcome #{name}
      div(class='col-md-6')
        h3 Chat
      div(class='col-md-6')
        h3 Translate
    div(class='row' id='main-text-area')
      div(class='col-md-6 col-sm=12')
        div(id='message-pane')
          ul(id='messages')
      div(class='col-md-6 col-sm-12')
        div(id='search-pane')
    div(class='row' id='chat-area')
      div(class='col-md-12')
        form(action='')
          input(id='m' autocomplete='off' class='form-control')
          button(class='btn btn-success') Send
  script(type='text/javascript' src="/socket.io/socket.io.js")
  script(type='text/javascript' src='./javascripts/bundle.js')
