extends layout

block content
  div(class='container-fluid')
    div(class='row' id='titles')
      div(class='col-md-12 jumbotron')
        h1 Welcome to Kī Mai
        form(action='/users/login' method='POST')
          div(class='row')
            div(class='form-group' class='col-md-6')
              label(for='username') Username: 
              input(type='text' name='username' class='form-control' placeholder='Username')
          div(class='row')
            div(class='form-group' class='col-md-6')
              label(for='password') Password: 
              input(type='password' name='password' class='form-control' placeholder='Password')
          div(class='row')
            div(class='form-group' class='col-md-6')
              button(class='btn btn-success') Login
      button(class='btn btn-warning') Register

        //- div(class='g-signin2' data-onsuccess='onSignIn')
  //- script(type='text/javascript' src='./javascripts/google.js')
  //- script(src="https://apis.google.com/js/client:platform.js?onload=startApp")
