extends layout

block content
  div(class='container-fluid')
    div(class='row' id='titles')
      div(class='col-md-12 jumbotron')
        h1 Welcome to Kī Mai
        form(action='/')
          label(for='username') Username: 
            input(type='text' name='username')
          
