doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    script(type='text/javascript' src='/javascripts/bootstrap.js')
    meta(name='viewport' contents='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
  body
    .container-fluid
      #row.titles
        .col-md-12.jumbotron
          div.col-md-6.col-md-push-6
            div.logo.animated.pulse
          .col-md-6.col-md-pull-6
            h1.title Login
            form(action='/users/login' method='POST')
              div(class='row')
                div(class='form-group')
                  label(for='email') Email:
                  input(type='text' name='email' class='form-control' placeholder='Email')
              div(class='row')
                div(class='form-group')
                  label(for='password') Password:
                  input(type='password' name='password' class='form-control' placeholder='Password')
              div(class='row')
                div(class='form-group')
                  button(class='btn btn-success') Login
      .row
        .col-md-12
          a.btn.btn-warning.btn-register(href='/users/new') Register
          a.btn.btn-primary.btn-facebook(href='/auth/facebook') Login with Facebook
