div.animated.fadeIn
  div
    each word in words
      //- p= word.from_word + " > " + word.to_word
      btn.btn-info.btn-lg.btn-block.replaceWord!= word.definition
      //- btn btn-primary btn-lg btn-block
      
